@model TokenViewModel

<div style="width:100%; display:flex; flex-direction: column">
	<p style="width: 100%; display: flex; flex-wrap: wrap; word-break: break-all; ">AccessToken:&nbsp; <span>@Model.AccessToken</span></p>
	<p style="width: 100%; display: flex; flex-wrap: wrap; word-break: break-all;">RefreshToken:&nbsp; <span>@Model.RefreshToken</span></p>
	<p style="width: 100%; display: flex; flex-wrap: wrap; word-break: break-all;">TokenID:&nbsp; <span>@Model.IdToken</span></p>
</div>